* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
margin: 0;
background-image: url("./images/water.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.headerEl{
    background-image: linear-gradient(rgb(138, 224, 188), rgb(113, 87, 207));
}

.flexContainer{
    display: inline-flex;
    width: 60%;
    margin-left: 11%;
    flex-wrap: wrap;
    justify-content: center;
}

.containerSearch{
    border: solid 2px black;
    width: 30%;
    flex-wrap: wrap;
    margin-left: 10%;
    background-image: linear-gradient(rgb(138, 224, 188), rgb(113, 87, 207));
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.inputValue{
    width: 150px;
}

.cityBtn{
    padding: 10px;
    background-color: black;
    color: rgb(49, 168, 156);
    font-weight: bold;
    border-radius: 50%;
    border: solid black 2px;
}

.cityBtn:hover{
    border-color:turquoise;
    border-width: 4px;
}

#currentWeather{
    display: none;
    border: solid 2px black;
    margin-left: 100px;
    width: 300px;
    background-image: linear-gradient(rgb(138, 224, 188), rgb(113, 87, 207));
    border-radius: 15px;
    padding: 10px;
}

#forcastContainer{
    margin: 15px;
    margin-left: 200px;
    justify-content: center;
}

.flexEl{
    display: flex;
    border: 2pm solid black;
    flex-wrap: wrap;
    margin-left: 15%;
}

.days{
    border: solid 2px black;
    margin-left: 10px;
    background-image: linear-gradient(rgb(138, 224, 188), rgb(113, 87, 207));
    border-radius: 15px;
    padding: 5px;
}

@media screen and (max-width: 270px){
    .search {
        font-size: 18px;
    }
}

@media screen and (max-width: 270px){
    .container h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 630px){
    #forcastContainer {
        margin-left: 10px;
    }
}