* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 40px;
}

.jumboEl{
    background-image: url();
}

.flexContainer{
    display: flex;
    border: solid 2px black;
}

.currentWeather{
    padding: 15px;
    border: solid 2px black;
    margin-left: 50px;
}

.day_One{
    border: solid 2px black;
    margin-left: 50px;
}

.day_Two{
    border: solid 2px black;
    margin-left: 10px;
}

.day_Three{
    border: solid 2px black;
    margin-left: 10px;
}

.day_Four{
    border: solid 2px black;
    margin-left: 10px;
}

.day_Five{
    border: solid 2px black;
    margin-left: 10px;
}
.containerSearch{
    border: solid 2px black;
    width: 200px;
}

.weatherFlex{
    display: flex;
}

.ul_city{
    list-style-type: none;
}